.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.tmp
*.log
.DS_Store
.idea
.vscode
pip-wheel-metadata
*.egg-info
*.dist-info
build/
dist/
.env
.env.*
mlflow.db
.git
docker-compose.override.yml
Thumbs.db
